{{ define "main" }}
<div class="row justify-content-center">
  <!--
https://github.com/dominikwilkowski/cfonts
https://github.com/sepandhaghighi/art
  -->
      <div class="d-flex justify-content-center">
        <!--$ cfonts 404 -f 3d -c red gray \-\-env browser -->
      <span class="hljs-keyword" style="display:block; unicode-bidi:embed; font-family:monospace; white-space:pre; line-height:normal; font-size:clamp(.4rem,2vw,1rem); font-weight:bold;">
____________<span class="hljs-variable">/\\\</span>________<span class="hljs-variable">/\\\\\\\</span>_______________<span class="hljs-variable">/\\\</span>____
 __________<span class="hljs-variable">/\\\\\</span>______<span class="hljs-variable">/\\\/////\\\</span>___________<span class="hljs-variable">/\\\\\</span>____
  ________<span class="hljs-variable">/\\\/\\\</span>_____<span class="hljs-variable">/\\\</span>____<span class="hljs-variable">\//\\\</span>________<span class="hljs-variable">/\\\/\\\</span>____
   ______<span class="hljs-variable">/\\\/\/\\\</span>____<span class="hljs-variable">\/\\\</span>_____<span class="hljs-variable">\/\\\</span>______<span class="hljs-variable">/\\\/\/\\\</span>____
    ____<span class="hljs-variable">/\\\/</span>__<span class="hljs-variable">\/\\\</span>____<span class="hljs-variable">\/\\\</span>_____<span class="hljs-variable">\/\\\</span>____<span class="hljs-variable">/\\\/</span>__<span class="hljs-variable">\/\\\</span>____
     __<span class="hljs-variable">/\\\\\\\\\\\\\\\\</span>_<span class="hljs-variable">\/\\\</span>_____<span class="hljs-variable">\/\\\</span>__<span class="hljs-variable">/\\\\\\\\\\\\\\\\</span>_
      _<span class="hljs-variable">\///////////\\\//</span>__<span class="hljs-variable">\//\\\</span>____<span class="hljs-variable">/\\\</span>__<span class="hljs-variable">\///////////\\\//</span>__
       ___________<span class="hljs-variable">\/\\\</span>_____<span class="hljs-variable">\///\\\\\\\/</span>_____________<span class="hljs-variable">\/\\\</span>____
        ___________<span class="hljs-variable">\///</span>________<span class="hljs-variable">\///////</span>_______________<span class="hljs-variable">\///</span>_____
</span>
      </div>

  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>

      <!--<span class="hljs-keyword" style="display:block; unicode-bidi:embed; font-family:monospace; white-space:pre; line-height:normal; text-align:center; font-size: 1rem; font-weight:bold;">
____________/\\\________/\\\\\\\_______________/\\\____
 __________/\\\\\______/\\\/////\\\___________/\\\\\____
  ________/\\\/\\\_____/\\\____\//\\\________/\\\/\\\____
   ______/\\\/\/\\\____\/\\\_____\/\\\______/\\\/\/\\\____
    ____/\\\/__\/\\\____\/\\\_____\/\\\____/\\\/__\/\\\____
     __/\\\\\\\\\\\\\\\\_\/\\\_____\/\\\__/\\\\\\\\\\\\\\\\_
      _\///////////\\\//__\//\\\____/\\\__\///////////\\\//__
       ___________\/\\\_____\///\\\\\\\/_____________\/\\\____
        ___________\///________\///////_______________\///_____
█▓▒░                                                   ░▒▓█
█▓▒░                                                   ░▒▓█
█▓▒░                                                   ░▒▓█
█▓▒░                                                   ░▒▓█
█▓▒░       |\  \ |\  \|\   __  \|\  \ |\  \            ░▒▓█
█▓▒░       \ \  \\_\  \ \  \|\  \ \  \\_\  \           ░▒▓█
█▓▒░        \ \______  \ \  \\\  \ \______  \          ░▒▓█
█▓▒░         \|_____|\  \ \  \\\  \|_____|\  \         ░▒▓█
█▓▒░                \ \__\ \_______\     \ \__\        ░▒▓█
█▓▒░                 \|__|\|_______|      \|__|        ░▒▓█
█▓▒░                                                   ░▒▓█
█▓▒░                                                   ░▒▓█
█▓▒░                                                   ░▒▓█
█▓▒░                                                   ░▒▓█
      </span> -->
      <h1 class="text-center">NOT FOUND</h1>
      <p class="text-center my-4">(ノಠ益ಠ)ノ彡 ㄣ0ㄣ 💣🌟</p>
      <p class="text-center">The page you are looking for doesn't exist or has been moved.</p>
    </article>
  </div>
</div>
{{ end }}
